<!-- <router-outlet></router-outlet>
<app-header style="color: green; font-size: 5dvb; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"></app-header> -->
            
                      <!-- Data Binding -->
<!-- String Interpolation -->
  <!-- <img src="{{ path }}" alt="flag"> -->
  <!-- <h4 class={{cName}}>Learn</h4> -->
  <!-- <h3>{{ date }}</h3> -->
  <!-- <p>{{test()}}</p> -->

<!-- Property or Attribute Binding -->
  <!-- <label>Name : </label> <input type="text"> -->
  <!-- <button [disabled] = isDisabled>Click Me</button> -->

<!-- Class Binding -->
  <!-- <p [class]="isActive?'active' : 'inactive'">paragraph</p> -->
  <!-- the below 2 lines are representing the same functionality -->
  <!-- <p [class]="{special:apply,active:isActive}">paragraph 2</p> -->
  <!-- <p [class]="['special','active']">paragraph 3</p> -->
  <!-- double quotes for "apply" are optional in the below line -->
  <!-- <p [class.special]="apply">paragraph 4</p> -->

<!-- Style Binding -->
  <!-- <p [style]="{color:colorVar}">Style Binding</p> -->
  <!-- <p style="color: {{colorVar}};">Style Binding 2</p>   this is also correct but it showing some errors in the syntax-->
  <!-- <p [style.color]="colorVar2">Style Binding Color</p> -->
  <!-- <p [style]="myStyle">Style Binding Object</p> -->

<!-- Event Binding -->
  <!-- <button (click)="increment()">Increment</button> -->
  <!-- <button (click)="decrement()">Decrement</button> -->
  <!-- <p>Count : {{counter}}</p> -->
  <!-- <label>Name : </label> <input type="text" (input)="changeName($event)"> -->
  <!-- <label>Name : </label> <input type="text" on-input="changeName($event)"> --><!-- above 2 lines are same -->
  <!-- <p>Name : {{name}}</p> -->

<!-- Two Way Data Binding -->
  <!-- <label>City : </label><input type="text" [(ngModel)]="city"> -->
  <!-- <p>{{city}}</p> -->
  <!-- <button (click)="updateCity()">Update City</button> -->

                          <!-- Directives -->
<!-- ngIf -->
  <!-- <p *ngIf="show">pagraph using NgIf</p> -->

  <!-- <p *ngIf="!data">loading...</p> -->
  <!-- <div *ngIf="data">{{data}}</div> -->
  <!-- instead of above two lines of code we can write the below using "if else" condition -->
  <!-- 
    below 2 types of procedure is correct but, when 'data' variable is empty in the 2nd procedure
    (commented, i.e., without <ng-template>) the text 'checking' is displayed. So, at that time we didn't 
    meet our requirement better to use 1st Procedure and use <ng-template> tag for "if else" i.e., ngIf 
  -->
  <!-- <p *ngIf="!data; else sample">loading...</p> -->
  <!-- <ng-template #sample>{{data}}</ng-template> -->

  <!-- "if then else" example -->
  <!-- <p *ngIf="!data; then load; else sample"></p> -->
  <!-- <ng-template #load>loading...</ng-template> -->
  <!-- <ng-template #sample>{{data}}</ng-template> -->

  <!-- without <ng-template> -->
  <!-- <p *ngIf="!data" else sample>loading...</p>
  <div #sample>{{data}}checking</div> -->

<!-- ngFor -->
  <!-- <p>NgFor</p>
  <table border="1">
    <tr *ngFor="let m of movies">
      <td>{{m}}</td>
    </tr>
  </table>

  <p *ngFor="let n of nums;index as i">paragraph {{n}}    index: {{i}}</p> -->
  <!-- presention above paragraph data in table also using some other variables like first, last, even, odd -->
  <!-- <table border="1">
    <tr>
      <td><b>Data</b></td>
      <td><b>Index</b></td>
      <td><b>First</b></td>
      <td><b>Last</b></td>
      <td><b>Even</b></td>
      <td><b>Odd</b></td>
    </tr>
    <tr *ngFor="let n of nums;index as i;first as f;last as l;even as e;odd as o">
      <td>paragraph {{n}}</td>
      <td>{{i}}</td>
      <td>{{f}}</td>
      <td>{{l}}</td>
      <td>{{e}}</td>
      <td>{{o}}</td>
    </tr>
  </table>
  <br>
  <table border="1">
    <tr>
      <td><b>ID</b></td>
      <td><b>Name</b></td>
      <td><b>Address</b></td>
      <td><b>Mobile</b></td>
    </tr>
    <tr *ngFor="let s of students">
      <td>{{s.id}}</td>
      <td>{{s.name}}</td>
      <td>{{s.address}}</td>
      <td>{{s.mobile}}</td>
    </tr>
  </table> -->
  
<!-- ngSwitch -->
  <!-- <p><b>ngSwitch</b></p>
  <input type="text" [(ngModel)]="op">
  <div [ngSwitch]="op">
    <div *ngSwitchCase="'+' ">{{a}} + {{b}} = {{a+b}}</div>
    <div *ngSwitchCase="'-' ">{{a}} - {{b}} = {{a-b}}</div>
    <div *ngSwitchCase="'*' ">{{a}} * {{b}} = {{a*b}}</div>
    <div *ngSwitchCase="'/' ">{{a}} / {{b}} = {{a/b}}</div>
    <div *ngSwitchCase="'%' ">{{a}} % {{b}} = {{a%b}}</div>
    <div *ngSwitchDefault>Invalid</div>
  </div> -->
  
<!-- Pipes -->
  <!-- <p>{{ titleName | titlecase }}</p>
  <p>{{ salary | currency : 'INR' }}</p>
  <p>{{ students | json }}</p>
  <p>{{ dob | date :'dd/MM/yyyy' }}</p>
  <p>{{ decimalNumber | percent }}</p>
  <p>{{ titleName | slice:12:19 }}</p> -->
<!-- Custom Pipes -->
  <!-- <p>{{ wish | removeNumber}}</p> -->
  <!-- <p>{{person | removeNumber:wish}}</p> -->

  <!-- Template Reference Variable -->
  <!-- Email : <input type="text" value="abc@gmail.com" #e>
  <button (click)="updateEmail(e.value)">Update</button>
  <p>{{email}}</p> -->

                  <!-- Component Communication -->
  <!-- parent to child : @Input decorator -->
  <!-- <div>{{parent}}</div>
  <app-header [childTitle]="cTitle" [d1]="data1" [myNumbers]="nums"></app-header>
  <div> Parent Component : {{cData}}</div> -->

  <!-- child to parent : @Output decorator -->
  <!-- <div> Parent Component : {{cData}}</div> -->
  <!-- <app-header (cust)="cData = $event"></app-header> -->
  <!-- <app-header (cust)="updateCData($event)"></app-header> -->

  <!-- child to parent : Template Reference Variable -->
  <!-- <div>child to parent using Template Reference Variable : {{ child.message }}</div>
  <app-header #child></app-header> -->

  <!-- child to parent : @ViewChild decorator -->
  <!-- <app-header></app-header><br>
  <button (click)="testing()">Click</button>
  <p>{{ vData }}</p> -->

<!-- DOM manipulations -->
    <!-- <div #test>DOM manipulations example</div>
    <button (click)="changeDiv()">Click</button><br>
    DOM manipulations example : <input type="text" #t> -->

<!-- ViewChild Vs @ViewChildren -->
    <!-- <p #para>Paragraph 1</p>
    <p #para>Paragraph 2</p>

    <p #paragraph>Paragraph 3</p>
    <p #paragraph>Paragraph 4</p>
    <p #paragraph>Paragraph 5</p>
    <p #paragraph>Paragraph 6</p>
    <button (click)="childVsChildren()">Click</button> -->
